

h1 {
	color: red;
	font-family: roboto;
	text-align: center;
}
  
h5 {color: rgb(19, 41, 243);
	font-family: roboto;
    text-align: left;}
    
nav{
        color: rgb(19, 41, 243);
        text-align: right;
    }    
div{display: inline;}

h5{text-align: center}
section {text-align: center}


.flex{
    display: flex;
    justify-content: center;
}
.flex div{
    margin: 1%;
}
.bar { display: flex; 
    justify-content:space-between;}

.bare nav, h4{
        margin:0%;
    }
.tab {display: flex;
    justify-content: center;}

.list {display: flex;
    flex-direction: column;
    list-style: none}